.header {
  padding: 10px 0px;
  background-color: $gray-200;

  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .avatar {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-dark-color;
  }

  .full-name {
    font-weight: bold;
    font-size: $font-size-xl;
  }

  .job-description {
    font-weight: bold;
    font-size: $font-size-s;
  }

  .logos {
    img {
      max-height: 32px;
    }
  }

  .icons {
    &.linkedin {
      color: #0e76a8;
    }
  }
}

.post-header {
  padding-top: 110px;
}
