// Load the Bootstrap library.
@import "bootstrap/bootstrap";

// VARIABLES.
@import "variables/variables";
@import "fonts/fonts";

// BASIC STRUCTURE FOR ALL PAGES.
@import "basic/structure";

// Pages and Components.
@import "pages/pages";
@import "components/components";

// Etc.
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}



.year-section {
  &:nth-child(odd) {
    background-color: $gray-200;
  }
}
